<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
	<title>Spectra Visualization</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<body>
	<div id="spectra_select">
		<form>
			<select id="flux_data">
				<option value = "flux">flux</option>
				<option value = "flux0">flux0</option>
				<option value = "flux1">flux1</option>
				<option value = "flux2">flux2</option>
				<option value = "flux3">flux3</option>
				<option value = "fluxA">fluxA</option>
				<option value = "fluxB">fluxB</option>
				<option value = "fluxC">fluxC</option>
			</select>
			<button onclick="loadData()">Plot Data</button>
		</form>
	</div>
	<div id="layer_select">
		<form>
			<select id="layers">
				<option value = "conv1">conv1</option>
				<option value = "conv1_relu">conv1_relu</option>
				<option value = "pool1">pool1</option>
				<option value = "conv2">conv2</option>
				<option value = "conv2_relu">conv2_relu</option>
				<option value = "pool2">pool2</option>
				<option value = "conv3">conv3</option>
				<option value = "conv3_relu">conv3_relu</option>
				<option value = "pool3">pool3</option>
			</select>
		</form>
		<button onclick="createActs()">Create Activations</button>
	</div>

	<div id="div1"></div>
	<div id="div2"></div>
	<div id="div3"></div>
	<div id="div4"></div>


	<script type="text/javascript" src="{{ url_for('static', filename='js/spectra.js') }}"></script>

</body> 


</html> 